body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}

.contform{
text-align: center;
padding-top: 100px;

}

#navbar{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar button a{
    color: white;
    text-decoration: none;
}

#navbar button:hover{
    transform: scale(1.1);

}
#navbar button a:hover{
    color: rgb(0, 255, 0);
}


#navbar a::after {
    content: " ";
    width: 0px;
    height: 3px;
    background-image: linear-gradient(45deg, #2600ff, #1da766);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.7s;
}

#navbar a:hover::after {
    width: 50px;

}

#navbar button{
    background: none;
    margin: 0;
    border: none;
    transition: 500ms;
    margin-right: 35px;
}

#navbar > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#navbar a{
color: white;
list-style: none;
text-decoration: none;
font-size: 25px;

}

li{
list-style: none;
}
input{
    margin: 2px ;
    font-size: 25px;
    border: 3px solid black;
    box-shadow: 20px 0px 80px 20px  black;
    background-color: rgb(138, 132, 132);
    border-radius: 8px;
    
}

label{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 490px;
    margin-top: 20px;
    display: flex;


}

#confirm{
    margin-top: 25px;
    border: none;
    box-shadow: 20px 0px 80px 20px  black;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    color: white ;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
    transition: 500ms;
}

#confirm:hover{
    transform: scale(1.2);
    color: rgb(49, 235, 49);
}
table {

    border-collapse: collapse;
    width: 100%;
    margin-top: 4%;
    
}
th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    background-color: #ffffff30;
    color: white;
}

td{
    color: white;
background-color: #34313130;
font-size: 20px;
padding-left: 200px;
border: 3px black solid;

}
